<!DOCTYPE html>
<html>
<head>
{{template "head" .}}
</head>
<body>
{{template "header" .}}

<main class="container">
	<a href="signup">サインアップ</a>
	<div class="row justify-content-center">
		<h2 class="text-center">ログイン</h2>
		<div class="col-md-6">
			<div class="text-danger" id="error"></div>
			<form onsubmit="return false" id="login-form">
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="bi bi-person-fill"></i></span>
					<input type="text" name="account_name" class="form-control" placeholder="ユーザ名">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="bi bi-key-fill"></i></span>
					<input type="password" name="account_password" class="form-control" placeholder="パスワード">
				</div>
				<button class="btn btn-primary w-100" id="login">ログイン</button>
			</form>
		</div>
	</div>
</main>

{{template "footer" .}}
<script type="module" src="/js/login.js"></script>
</body>
</html>
