<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{.commons.appname}}: signup</title>
	<link rel="stylesheet" href="/css/login_signup.css">
	<script type="text/javascript" src="/js/signup.js"></script>
</head>
<body>
	<div class="wrapper">
	<h2>Create an account</h2>
	<div class="form-wrapper">
		<div class="error" id="error">
			{{.error}}
		</div>
		<form method="POST" onsubmit="return checkPassword();">
			<div class="form-item">
				<label for="user_name">UserName</label>
				<input type="text" name="user_name" required="required">
			</div>
			<div class="form-item">
				<label for="password">Password</label>
				<input type="password" id="pw1" name="password" required="required">
			</div>
			<div class="form-item">
				<label for="password">Password (for confirmation)</label>
				<input type="password" id="pw2" required="required">
			</div>
			<div class="button-wrapper">
				<input type="submit" id="signup" value="Create"></input>
			</div>
		</form>
	</div>
	<div class="form-footer">
		<p><a href="login">Sign in to {{.commons.appname}}</a></p>
	</div>
	</div>
</body>
</html>
