version: "3.8"

services:
  app:
    container_name: app
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    tty: true
    environment:
      - ENV=docker