* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background: #ffffff;
    color: #5d5d5d;
    line-height: 1.5em;
    font-size: 0.9em;
}

.error {
    color: #ff0000;
}

.wrapper {
    padding: 3em 0;
    margin: auto;
    max-width: 370px;
}

.form-wrapper {
    background: #fafaff;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

h2 {
    text-align: center;
    padding: 1em 0em;
}

form {
    padding: 1.3em;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    background: #ffffff;
    border: 1px solid #dddddd;
    font-size: 1.2em;
    height: 37px;
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
}

.form-item input:focus {
    border-bottom: 1px solid #c0c0c0;
}

.button-wrapper {
    margin: 2em 0 0;
    width: 100%;
}

.button-wrapper #signup {
    background: #00a600;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.button-wrapper #signup:hover {
    background: #008d00;
}

.button-wrapper #signin {
    background: #1f7cff;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.button-wrapper #signin:hover {
    background: #1f6Dff;
}

.form-footer {
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
}

.form-footer a {
    color: #1F8FFF;
    text-decoration: none;
}

.form-footer a:hover {
    border-bottom: 1px solid #1F8FFF;
}
